@font-face {
  font-family: Akira;
  src: url("../fonts/Akira Expanded Demo.otf");
}

@font-face {
  font-family: LouisBold;
  src: url("../fonts/Louis George Cafe Bold.ttf");
}

@font-face {
  font-family: LouisLight;
  src: url("../fonts/Louis George Cafe Light.ttf.ttf");
}

@font-face {
  font-family: Louis;
  src: url("../fonts/Louis George Cafe.ttf");
}

@font-face {
  font-family: fancyPrice;
  src: url("/fonts/Barlow-Bold.ttf");
}

@font-face {
  font-family: Louis;
  src: url("../fonts/Louis George Cafe.ttf");
}

* {
  margin: 0;
  padding: 0;
}

#navbar {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  background-color: #121212;
  font-family: font;
  font-size: 1.5rem;
  height: max-content;
  padding: 1rem;
  margin: auto;
  top: 5vh;
  width: 50rem;
  box-shadow: 0 10px 5px -5px #f05454;
}

#navbar a {
  font-family: Louis;
  color: #f5f5f5;
  text-decoration: none;
  position: relative;
}

#navbar a::before {
  content: '';
  background-color: #121212;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 0px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

#navbar a:hover::before {
  bottom: 0;
  height: 100%;
}

#navbar a::before {
  content: '';
  background-color: rgba(240, 84, 84, 0.75);
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 799px) {
  #mobilescreen {
    position: fixed;
    visibility: hidden;
  }
  #hambutton {
    position: fixed;
    visibility: hidden;
  }
}

@media only screen and (max-width: 799px) {
  #navbar {
    visibility: hidden;
  }
  .hambutton {
    position: relative;
    left: 70vw;
    width: 6rem;
    top: 3vh;
  }
  .hambutton:hover {
    cursor: pointer;
  }
  .hambutton:active {
    width: 6.5rem;
  }
  #hambuttonclose {
    width: 5rem;
    margin: 0;
    position: relative;
    top: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .mobilescreen {
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 200;
    height: 100%;
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
  }
  .mobilecontent {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  .mobilecontent a {
    font-family: LouisBold;
    color: #f5f5f5;
    font-size: 5rem;
    text-decoration: none;
  }
  .mobilecontent a:hover {
    background-color: #f05454;
    cursor: pointer;
  }
}

@font-face {
  font-family: Louis;
  src: url("../fonts/Louis George Cafe.ttf");
}

body .footer {
  position: relative;
  top: 70vh;
  font-family: Louis;
  background-color: #121212;
  width: 100%;
  height: 22vh;
  color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

body .produced {
  margin-top: 5rem;
  font-size: 1rem;
  margin-right: 5rem;
}

body .contact {
  margin-top: 5rem;
  font-size: 1rem;
  margin-right: -4rem;
}

body .address {
  margin-top: 5rem;
  font-size: 1rem;
  margin-right: 5rem;
}

body .big {
  position: absolute;
  font-size: 1.5rem;
  top: 2rem;
}

body .logo {
  margin-top: 2rem;
  height: 13vh;
  width: 16vw;
}

body .media {
  position: relative;
  width: 2rem;
  height: 2rem;
  top: 2rem;
  right: 9rem;
}

body #mailLink {
  position: relative;
  color: #f5f5f5;
  bottom: 1.25rem;
}

body #mailLink :visited {
  color: #f5f5f5;
}

@font-face {
  font-family: LouisBold;
  src: url("../fonts/Louis George Cafe Bold.ttf");
}

@font-face {
  font-family: Louis;
  src: url("../fonts/Louis George Cafe.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: none;
}

@media screen and (min-width: 2000px) {
  #navbar {
    width: 60vw;
    height: 4vh;
    font-size: 3rem;
  }
  .box1 h1 {
    font-size: 3vw !important;
  }
  .box2 .subbox1 p {
    font-size: 2.5vh !important;
    max-width: 30vh !important;
  }
  .box2 .subbox2 p {
    font-size: 2.5vh !important;
    max-width: 40vh !important;
  }
  .box3 {
    height: 65vh !important;
  }
  .box3 .Louis {
    width: 20vw;
  }
  .box3 .Louis h1 {
    margin-right: 3vw;
  }
  .box3 .Louis p {
    position: absolute;
    right: 55.75vw;
    font-size: 1.2vw;
    max-width: 24vw;
    text-align: center;
  }
  .box3 .Louis img {
    width: 17vw;
    height: 30vh;
  }
  .box3 .TJ {
    width: 20vw;
  }
  .box3 .TJ h1 {
    margin-right: 3vw;
  }
  .box3 .TJ p {
    position: absolute;
    left: 52.75vw;
    font-size: 1.2vw;
    max-width: 24vw;
    text-align: center;
  }
  .box3 .TJ img {
    width: 17vw;
    height: 30vh;
  }
  .footer .logo {
    width: 20vw;
    height: 15vh !important;
    margin-right: 4vw;
  }
  .footer .produced {
    width: 18vw;
    height: 10vh !important;
    font-size: 1.5vw;
    margin-top: 9vh;
  }
  .footer .produced .big {
    width: 19vw;
    height: 15vh !important;
    font-size: 1.5vw;
    margin-top: 1vh;
  }
  .footer .contact {
    width: 18vw;
    height: 10vh !important;
    font-size: 1.5vw;
    margin-top: 10vh;
  }
  .footer .contact .media {
    width: 3vw;
    height: 4vh;
    margin-left: 0.5vw;
    left: 0.75vw;
  }
  .footer .contact .big {
    width: 19vw;
    height: 15vh !important;
    font-size: 1.5vw;
    margin-top: 1vh;
  }
  .footer .address {
    width: 18vw;
    height: 10vh !important;
    font-size: 1.5vw;
    margin-top: 9vh;
  }
  .footer .address .big {
    width: 19vw;
    height: 15vh !important;
    font-size: 1.5vw;
    margin-top: 1vh;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  #navbar {
    width: 70vw;
    height: 3vh;
    font-size: 3vw;
  }
  .box1 {
    height: 50vh !important;
  }
  .box1 h1 {
    margin-top: 5vh;
  }
  .box2 .subbox1 {
    gap: 0;
  }
  .box2 .subbox1 .studio1 {
    width: 65vw;
    box-shadow: 20px -20px #f05454;
  }
  .box2 .subbox1 p {
    max-width: 20vw !important;
    margin-right: 0vw;
  }
  .box2 .subbox2 {
    gap: 0;
  }
  .box2 .subbox2 img {
    width: 65vw;
    box-shadow: -30px 25px #f05454 !important;
  }
  .box2 .subbox2 p {
    width: 20vw;
    margin-right: 1vw;
  }
  .box3 {
    gap: 10vw !important;
  }
  .box3 .Louis {
    margin-left: 50vw;
  }
  .box3 .Louis p {
    font-size: 3vw;
  }
  .box3 .Louis h1 {
    font-size: 4vw;
  }
  .box3 .Louis img {
    width: 35vw;
    height: 25vh;
  }
  .box3 .TJ {
    margin-right: 50vw;
  }
  .box3 .TJ p {
    font-size: 3vw;
  }
  .box3 .TJ h1 {
    font-size: 4vw;
  }
  .box3 .TJ img {
    width: 35vw;
    height: 25vh;
  }
  .footer {
    height: 15vh !important;
  }
  .footer .logo {
    width: 30vw;
    height: 12vh;
    margin-bottom: 1vh;
  }
  .footer .produced {
    width: 20vw;
    margin: 0;
    margin-top: 8vh;
  }
  .footer .produced .big {
    font-size: 2.5vw;
    width: 20vw;
  }
  .footer .contact {
    width: 20vw;
    margin: 0;
    margin-top: 8vh;
  }
  .footer .contact .big {
    font-size: 2.5vw;
    width: 20vw;
  }
  .footer .contact .media {
    left: 1vw;
    top: 0;
  }
  .footer .address {
    width: 20vw;
    margin: 0;
    margin-top: 6vh;
  }
  .footer .address .big {
    font-size: 2.5vw;
    width: 20vw;
  }
}

.box1 {
  position: relative;
  height: 60vh;
  background-color: #f05454;
  z-index: -1;
  margin-top: -10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 h1 {
  text-align: center;
  color: white;
  font-family: Akira;
  font-size: 3rem;
}

.box1 span {
  color: #eec643;
}

.box2 {
  overflow-x: none;
  height: 100vh;
  font-family: Louis;
}

.box2 img {
  height: 40vh;
  width: 40vw;
}

.box2 .subbox1 {
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  gap: 10vw;
  justify-content: center;
}

.box2 .subbox1 p {
  max-width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.box2 .subbox1 .studio1 {
  box-shadow: 60px -40px #f05454;
}

.box2 .subbox2 {
  display: flex;
  gap: 10vw;
  flex-direction: row-reverse;
  justify-content: center;
}

.box2 .subbox2 p {
  max-width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.box2 .subbox2 .studio2 {
  box-shadow: -60px 40px #f05454;
}

.box3 {
  height: 80vh;
  background-color: #f05454;
  display: flex;
  justify-content: center;
  gap: 20rem;
}

.Louis {
  margin-top: 10vh;
}

.Louis img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}

.Louis p {
  max-width: 20rem;
  text-align: center;
  font-family: Louis;
  color: white;
}

.Louis h1 {
  text-align: center;
  font-family: LouisBold;
  color: white;
}

.TJ {
  margin-top: 10vh;
}

.TJ img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}

.TJ p {
  text-align: center;
  max-width: 20rem;
  font-family: Louis;
  color: white;
}

.TJ h1 {
  text-align: center;
  font-family: LouisBold;
  color: white;
}

.footer {
  position: relative !important;
  top: 0vh !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #121212;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: #121212;
}

*::-webkit-scrollbar-thumb {
  background-color: #bebfc4;
  border-radius: 10px;
}
/*# sourceMappingURL=about.css.map */