$black: #040f0f;
$white: #ffffff;
$silver: #bebfc4;
$green: #183c28;
$yellow: #eec643;
$background: #f05454;

@import './components/text';
@import './components/navbar';
@import './components/footer';

@font-face {
  font-family: LouisBold;
  src: url('../fonts/Louis\ George\ Cafe\ Bold.ttf');
}

@font-face {
  font-family: Louis;
  src: url('../fonts/Louis\ George\ Cafe.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body{ 
  overflow-x: none;
  
}

.box1 { 
  position: relative;
  height: 60vh;
  background-color: $background;
  z-index: -1;
  margin-top: -10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1{ 
    text-align: center;
    color: white;
    font-family: Akira ;
    font-size: 3rem;
  }
  span{ 
    color:darkgray;
  }

}

.box2{ 
  overflow-x: none;
  height: 100vh;
  font-family: Louis;
  img{ 
    height: 40vh;
    width: 40vw;
  }
  .subbox1{ 
    display: flex;
    gap: 10vw;
    justify-content: center;
    gap: 1rem;
    p{ 
      width: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    
  }
  .subbox2{ 
    
    display: flex;
    gap: 10vw;
    flex-direction: row-reverse;
    justify-content: center;
    
    
    p{ 
      width: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .box3{
    .Louis{ 
      img{ 
        height: 10rem;
        width: 10rem;
      }
    }
    .TJ{ 
      img{ 
        height: 10rem;
        width: 10rem;
      }
    }
  }
  
}

.box3{ 
  height: 70vh;
  background-color: $background;
}
//footer
.footer {
  position: relative !important;
  top: 0vh !important;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $black;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: $black;
}

*::-webkit-scrollbar-thumb {
  background-color: $silver;
  border-radius: 10px;
}
