$black: #040f0f;
$white: #ffffff;
$silver: #bebfc4;
$green: #183c28;
$yellow: #eec643;
$background: #f05454;

@import './components/text';
@import './components/navbar';
@import './components/footer';

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: $white;
  overflow-x: hidden;
}
.main {
  height: 100vh;
  width: 100vw;
}
#navbar {
  position: fixed;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
}
.imageContainer{ 
      
      background-color: $black;
      float: left;
      height: 100vh;
      width: 35%; 
      h1 { 
            position: relative;
            top: 20vh;
            left: 10vw;
            font-family: LouisBold;
            font-size: 3rem;
            color: $white;
         
      }
      hr { 
            position: relative;
            width: 27rem;
            height: .25rem;
            background-color: $white;
            border: none;
            top: 20vh;
            left: 10vw;
      }
      img { 
          position: relative;
          left: 10vw;
          top: 30vh;
          
      }
}
.inputContainer{ 
            background-color: $black;
            float: right;
            height: 100vh;
            width: 65%;
            display: flex;
            justify-content: center;
            align-items: center;
       
}

.inputs {
     display: flex;
     flex-direction: column;
     gap: 2.5rem;
     input{ 
           margin-left: 10vw;
           font-family: Louis;
           border: none;
           border-bottom: 5px solid $background;
           background-color: $black;
           font-size: 2rem;
           color: #BEBFC4;
           
     }



}
.footer {
  position: relative !important;
  top: 0vh !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $black;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: $black;
}

*::-webkit-scrollbar-thumb {
  background-color: $silver;
  border-radius: 10px;
}
