$black: #040f0f;
$white: #ffffff;
$silver: #bebfc4;
$green: #183c28;
$yellow: #eec643;
$background: #f05454;

@import './components/text';
@import './components/navbar';
@import './components/footer';

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: $white;
  overflow-x: hidden;
}
.main {
  height: 100vh;
  width: 100vw;
}
#navbar {
  position: fixed;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
}
.imageContainer{ 
      
      background-color: $background;
      float: left;
      height: 110vh;
      width: 35%; 
      img{ 
        margin-top: -8rem;
        width: 25rem;
        padding-left: 7rem;
      }
      h1 {  
            margin-top: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
          
            font-family: LouisBold;
            font-size: 3rem;
            color: $white;
         
      }
      hr { 
            position: relative;
            width: 27rem;
            height: .25rem;
            background-color: $white;
            border: none;
            top: 20vh;
            left: 10vw;
      }
      img { 
        position: relative;
        top: 20vh;
        height: 50%;
        top: 20vh ;
        left: 1vw;
        
      }
      
     
}
.inputContainer{ 
            margin-top: 10vh;
            background-color: $white;
            float: right;
            height: 100vh;
            width: 65%;
            display: flex;
            justify-content: center;
            align-items: center;
       button{ 
         width: 50%;
         background-color: $background;
         font-family: Louis;
         border: none;
         font-size: 2rem;
         color: white;
         padding: .5rem 0;
         transition: filter .3s ease;
         &:hover{ 
           cursor: pointer;
           filter:brightness(.75);
         }
         
       }
}

.inputs {
      max-width:fit-content;
     display: flex;
     flex-direction: column;
     gap: 1.5rem;
     align-items: flex-end;
     input{ 
           font-family: Louis;
           border: none;
           border-bottom: 5px solid $background;
           background-color: $white;
           font-size: 2rem;
           color: $black;
           
     }
     a{ 
       text-decoration: none;
     }
     img { 
       height: 100px;
     }
     .iconcontainer{ 
       margin: auto;
     }

}
.footer {
  position: relative !important;
  top: 0vh !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $black;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: $black;
}

*::-webkit-scrollbar-thumb {
  background-color: $silver;
  border-radius: 10px;
}
