
// import navbar DONT TOUCH

@import "./components/text";
@import "./components/navbar";
@import "./components/footer";


$black: #181818;
$white: #FFFFFF;
$silver: #BEBFC4;
$green: #282828;
$yellow: #EEC643;


*{ 
      margin: 0;
      padding: 0;
      
}

body { 
      background-image: url('../images/refueling_night_dark_151920_1920x1080.jpg');
      height: 100vh;
      width: 100vw;
      
     
     
//      video { 
//            object-fit: cover;
//            position: fixed;
//            height: 100vh;
//            width: 100vw;
//      }
    
}
#navbar{ 
      font-family: LouisBold;
      a{ 
            color: $yellow;
      }
}
.highlight { 
      color: $yellow;
}

.container { 
      position: fixed;
      
   
}
.reel-header { 
      font-family:Akira;
      color: white;
      font-size: 5rem;
      // width: 10rem;
      position: fixed;
      left: 10vw;
      top: 40vh;
      text-shadow: 2px 2px 2px $yellow;
} 
.reel-header2 { 
      font-family:Akira;
      color: $yellow;
      font-size: 5rem;
      // width: 10rem;
      position: fixed;
      left: 10vw;
      top: 50vh;
      text-shadow: 2px 2px 2px $black;
} 
.reel-subheader { 
      font-family:Akira;
      color: white;
      font-size: 2rem;
      position: fixed;
      left: 10vw;
      top: 60vh;
      text-shadow: 2px 2px 2px $yellow;
}

.dualButtons { 
      position: fixed;
      top: 90vh;
      left: 70vw;
     
      a {
           
           white-space: nowrap;
           overflow: hidden;
            width: 15rem;
            height: 10rem;
            font-family: Louis;
            font-size: 3rem;
            border-radius: 10rem;
            padding: 10px;
            background-color: $yellow;
            text-shadow: 1px 1px $black;
            text-decoration: none;
            color: $white;
            box-shadow: 3px 3px $black;
            
      }
}
