$black: #040f0f;
$white: #ffffff;
$black: #bebfc4;
$green: #183c28;
$yellow: #eec643;
$background: #f05454;

@import './components/text';
@import './components/navbar';
@import './components/footer';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $white;

  sup {
    font-size: 2.5rem;
  }
  .title {
    font-size: 4rem;
    font-family: Louis;
    position: relative;
    left: 37vw;
    top: 5rem;
    width: 30vw;
  }

  .choose {
    width: 19rem;
    height: 2.5rem;
    font-size: 1.75rem;
    background-color: $background;
    border-radius: 1rem;
    margin-left: 1rem;
    text-align: center;
    padding-top: 0.2rem;
    margin-top: 1rem;
  }

  .main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 18vh;
    left: 5vw;
    width: 90vw;
    font-family: Louis;
  }

  .para {
    font-size: 1.5rem;
  }

  .pack1 {
    transition: transform 0.1s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .pack2 {
    
    transition: transform 0.1s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .pack3 {
    transition: transform 0.1s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .price {
    font-size: 4rem;
    border: 3px solid $black;
    height: 6rem;
    text-align: center;
    background-color: $silver;
    font-family: fancyPrice;
    padding-top: 1rem;
    border: none;
    
  }

  .feature {
    font-size: 1.5rem;
    border: 3px solid $black;
    width: 20rem;
    height: 2rem;
    background-color: $silver;
    padding: 0.5rem;
    border: none;
  }

  .time {
    font-size: 1.5rem;
    border: 3px solid $black;
    width: 20rem;
    height: 2rem;
    background-color: $silver;
    padding: 0.5rem;
    border: none;
  }

  .description {
    font-size: 1.5rem;
    border: 3px solid $black;
    width: 20rem;
    background-color: $silver;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    padding: 0.5rem;
   
  }

  .title1 {
    font-size: 2rem;
    border: 3px solid $black;
    width: 20rem;
    text-align: center;
    height: 2rem;
    background-color: $background;
    padding: 0.5rem;
    padding-top: .5rem;
    padding-bottom: 1rem;
    border: none;
  }

  span {
    background-color: $background;
    padding: 0.1rem;
    border-radius: 0.75rem;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $black;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: $black;
}

*::-webkit-scrollbar-thumb {
  background-color: $background;
  border-radius: 10px;
}
