$black: #040f0f;
$white: #ffffff;
$silver: #bebfc4;
$green: #183c28;
$yellow: #eec643;
$background: #f05454;

@import './components/text';
@import './components/navbar';
@import './components/footer';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;

  .title {
    font-size: 4rem;
    font-family: Louis;
    position: relative;
    left: 37vw;
    top: 5rem;
    width: 30vw;
  }

  .main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 20vh;
    left: 5vw;
    width: 90vw;
    font-family: LouisBold;
  }

  .pack1 {
    border: 2px solid $background;
  }

  .pack2 {
    border: 2px solid $background;
  }

  .pack3 {
    border: 2px solid $background;
  }

  .para {
    font-size: 1.5rem;
  }

  .price {
    font-size: 1.5rem;
    border: 2px solid black;
  }

  .feature {
    rice {
    font-size: 1.5rem;
    border: 2px solid black;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $black;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: $black;
}

*::-webkit-scrollbar-thumb {
  background-color: $background;
  border-radius: 10px;
}
