

$black: #121212;
$white: #F5F5F5;
$silver: #BEBFC4;
$green: #30475E;
$yellow: #EEC643;
$background: #F05454;

* { 
      margin: 0;
      padding: 0;
}

#navbar{ 
      // top: 5vh;
      position: relative;
      display: flex;
      justify-content: space-evenly;
      background-color: $white;
      font-family: font;
      font-size: 1.5rem;
      height: max-content;
      padding: 1rem;
      margin: auto;
      top: 5vh;
      width: 50rem;
      box-shadow: 0 10px 5px -5px $green;
      a { 
            color: $green;
            text-decoration: none;
            
      }
      
}
