

$black: #121212;
$white: #F5F5F5;
$silver: #BEBFC4;
$green: #30475E;
$yellow: #EEC643;
$background: #F05454;

@font-face {
      font-family: Louis;
      src: url("../fonts/Louis\ George\ Cafe.ttf")
}
* { 
      margin: 0;
      padding: 0;
}

#navbar{ 
      // top: 5vh;
     
      position:relative;
      display: flex;
      justify-content: space-evenly;
      background-color: $black;
      font-family: font;
      font-size: 1.5rem;
      height: max-content;
      padding: 1rem;
      margin: auto;
      top: 5vh;
      width: 50rem;
      box-shadow: 0 10px 5px -5px $background;
      a { 
            font-family: Louis;
            color: $white;
            text-decoration: none;
            position: relative;
            
            &::before{ 
                  content: '';
                  background-color: $black;
                  position: absolute;
                  left: 0;
                  bottom: 0px;
                  width: 100%;
                  height: 0px;
                  z-index: -1;
                  transition: all .3s ease-in-out     ;
            }
            &:hover::before{ 
                  bottom: 0;
                  height: 100%;
            }
            &::before{ 
                  content: '';
                  background-color: rgba($color: #F05454, $alpha: .75);
                  position: absolute;
                  left: 0;
                  bottom: 0px;
                  width: 100%;
                  // height: 5px;
                  z-index: -1;
                  transition: all .2s ease-in-out ;
            }
      }
      
}
// mobile navbar TJ DONT TOUCH
@media  screen and (min-width:1100px) {

      #mobilescreen{ 
            position: fixed;
            visibility: hidden;
      }
      #hambutton{ 
            position: fixed;
            visibility: hidden;
      }
}
@media only screen and (max-width:1100px) {

#navbar{ 
     visibility: hidden;
    }
    .hambutton{ 
      
      position: relative;
      left: 70vw;
      width: 6rem;
      top: 3vh;
      &:hover{ 
        cursor: pointer;
      }
      &:active{ 
        width: 6.5rem;
      }
    }
    #hambuttonclose{
      width: 5rem;
      margin: 0;
      position: relative;
      top: 20vh;
      display: block;
      margin-left: auto;
      margin-right: auto;
     
    
  
    }
    .mobilescreen{ 
      overflow-y: hidden;
      overflow-x:hidden;
      z-index: 200;
      height: 100%;
      width: 100%;
      height: 0;
      position: fixed;
      top: 0;
      background-color: rgba(0,0,0, .95);
      overflow-x: hidden;
      transition: 0.5s;
    } 
    .mobilecontent{
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
      a{ 
        font-family: LouisBold;
        color: $white;
        font-size: 5rem;
        text-decoration: none;
        
        &:hover{ 
          background-color: $background;
          cursor: pointer;
        }
        
      }
    }
}