@font-face {
  font-family: Akira;
  src: url('../fonts/Akira\ Expanded\ Demo.otf');
}
@font-face {
  font-family: LouisBold;
  src: url('../fonts/Louis\ George\ Cafe\ Bold.ttf');
}
@font-face {
  font-family: LouisLight;
  src: url('../fonts/Louis\ George\ Cafe\ Light.ttf.ttf');
}
@font-face {
  font-family: Louis;
  src: url('../fonts/Louis\ George\ Cafe.ttf');
}

@font-face {
  font-family: fancyPrice;
  src: url('/fonts/Barlow-Bold.ttf');
}

$black: #040f0f;
$white: #ffffff;
$silver: #bebfc4;
$green: #183c28;
$yellow: #eec643;
