@font-face {
      font-family: Akira;
      src: url('../fonts/Akira\ Expanded\ Demo.otf');
}
@font-face {
      font-family: LouisBold;
      src: url('../fonts/Louis\ George\ Cafe\ Bold.ttf');
}
@font-face {
      font-family: LouisLight;
      src: url('../fonts/Louis\ George\ Cafe\ Light.ttf.ttf');
}
@font-face {
      font-family: Louis;
      src: url("../fonts/Louis\ George\ Cafe.ttf")
}


$black: #040F0F;
$white: #FFFFFF;
$silver: #BEBFC4;
$green: #183C28;
$yellow: #EEC643;


